
 body{

     background-color: #7B7777;
 }


 .head{
     text-align: center;
     margin-top: 100px;
 }
 .all{
     display: none;
     border: 1px solid black;
     margin-left: 300px;
     background-color: white;
     width: 60%;
     margin-top: 30px;
     border-radius: 20px ;

 }
 @media only screen and (max-width: 1030px) {

    .all {
  
     width: 95%;
     margin: 20px 600px 20px 10px;
    
 
     }
   }


 .questions{
     border: 2px solid  black;
     width: 40%;
     border-radius: 18px;
     padding: 20px;
     margin-bottom: 20px;
     background: white;
    margin: 20px 100px 20px 300px;
 }

 @media only screen and (max-width: 1030px) {

   .questions {
 
    width: 80%;
    margin: 20px 600px 20px 10px;
    overflow: hidden;

    }
  }
 

 button{
     padding: 8px;

 }
 /* btn1 */
 .btn-1{
     margin-left: 500px;
     margin-bottom: 20px;
 }
 @media only screen and (max-width: 1030px) {

    .btn-1 {
  
        margin-left: 150px;
     }
   }

/* intro */
 .intro{
     text-align: center;
     display: none;
 }

/* board */
 .board{
     display: none;
     background-color:rgb(169, 169, 255);
     border-radius: 10px;
     padding: 50px;
     width: 30%;
     margin-left: 500px;
     text-align: center;
     margin-top: 120px;
     padding: 100px;
     margin-right: 500px;
     

 }
 @media only screen and (max-width: 1230px) {

    .board {
  
     width: 60%;
     margin: 20px 200px 20px 10px;
     overflow: hidden;
 
     }
   }