
 body{

     background-color:#bdc1c4;
     font-family: sans-serif;
    
 }
 body h1{
     text-align: center;
 }

 .head{
     text-align: center;
     margin-top: 100px;
     font-size: 30px;
     display: none;
 }

 .register{
     margin-left: 700px;
     margin-top: 200px;
     width: 60%;
     padding: 20px;
 }

 .register> button{
     margin-top: 20px;
 }
 .all{
     display: none;
     border: 1px solid black;
     margin-left: 300px;
     background-color: white;
     width: 60%;
     margin-top: 30px;
     opacity: 0.8;

 }
 @media only screen and (max-width: 1030px) {

    .all {
     width: 95%;
     margin: 20px 600px 20px 10px;
    
     }
   }

 .questions{
     border: 2px solid  black;
     width: 60%;
     border-radius: 18px;
     padding: 20px;
     margin-bottom: 20px;
     background:white;
    margin: 20px 100px 20px 150px;
    overflow: hidden;
 }

 @media only screen and (max-width: 1030px) {
   .questions {
    width: 80%;
    margin: 20px 600px 20px 10px;
    overflow: hidden;
    }
  }
 
 button{
     padding: 8px;
     font-size: 10px;
     width: 15%;
     background-color:rgb(4, 4, 43);
     color: white;
 }

 /* btn1 */
 .btn-1{
     margin-left: 350px;
     margin-bottom: 20px;
 }
 @media only screen and (max-width: 1030px) {

    .btn-1 {
        margin-left: 150px;
     }
   }

/* intro */
 .intro{
     text-align: center;
     display: none;
     background-color: white;
     width: 59%;
     margin-left: 300px;
     padding: 10px;
 }

 @media only screen and (max-width: 1030px) {
    .intro {
     width: 95%;
     margin: 20px 600px 20px 10px;
    
     }
   }
/* board */
 .board{
     display: none;
     background-color:white;
     border-radius: 10px;
     padding: 50px;
     width: 30%;
     margin-left: 400px;
     text-align: center;
     margin-top: 120px;
     padding: 100px;
     margin-right: 400px;
     overflow: hidden;
    font-size: 30px;
     

 }
 @media only screen and (max-width: 1230px) {
    .board {

     width: 20%;
     margin: 20px 1000px 20px 50px;
     overflow: hidden;
     font-size: 15px;
 
     }
   }
   /* styling form */
   .user{
       background-color: white;
       text-align: center;
       width: 40%;
       border-radius: 10px;
       height: 30vh;
      margin: 100px 0px 0px 400px;
      opacity: 0.5;
   }
   .user input{
       margin-top: 20px;
       margin-bottom: 20px;

   }

   .btn-2{
     margin-left: 600px;
     margin-top: 20px;
     
   }

   .reset{
    padding: 8px;
    font-size: 10px;
    width: 15%;
    background-color:rgb(4, 4, 43);
    color: white;
    margin-left: 600px;
    margin-top: 20px;
    display: none;
   }

   @media only screen and (max-width: 1230px) {
    .reset{
    margin-left: 150px;
     }
    }