
 body{
     background-color:#105E6F ;
     
    
 }

 .head{
     text-align: center;
     margin-top: 100px;
 }

 .questions{
     border: 2px solid  black;
     width: 40%;
     border-radius: 18px;
     padding: 20px;
     margin-bottom: 20px;
     background: white;
     display: none;
    margin: 300px 100px 100px 400px;
 }

 button{
     padding: 8px;
     margin-top: 10px;
 }